* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  display: flex;
}

#open_modal-window,
#close_modal-window {
  background-color: greenyellow;
  margin: 50px auto;
}

#modal-window {
  display: none;
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  position: absolute;
  width: 100%;
}
